{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
{% if not notes  %}
<h1>Here are no notes yet</h1>
{% else %}
{% for note in notes %}
<h1>Title</h1>
<p>{{ note.title }}</p>
<h2>Text</h2>
<p>{{ note.text }}</p>

<div style="display: flex; gap: 10px;">
    {%if note.status==False%}
    <form action="{{url_for('mark_done',note_id=note.id)}}" method="GET">
        <button class="btn btn-success" type="submit">mark as done</button>
    </form>
    {%endif%}
</div>
{% endfor %}
{% endif %}
{% endblock %}


