{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
{% if notes == [] %}
<h1>Here are no notes yet</h1>
{% else %}
{% for note in notes %}
<h1>Title</h1>
<p>{{ note.title }}</p>
<h2>Text</h2>
<p>{{ note.text }}</p>

<div style="display: flex; gap: 10px;">
 <form action="/delete/{{ note.id }}" method="POST">
      <button  class="btn btn-danger" type="submit">delete?</button>
</form>
<form action="/edit/{{ note.id }}" method="POST">
      <button class="btn btn-warning" type="submit">edit?</button>
</form>
<form action="/mark_done/{{ note.id }}" method="POST">
      <button class="btn btn-success" type="submit">mark as done</button>
</div>
{% endfor %}
{% endif %}
{% endblock %}


